aside {
    width: 300px;
    margin: 20px;
    border: 1px solid #eae6e4;
    padding: 10px;
    background-color: #b2dbdf;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    max-width: 100%; 
    display: block;  
    margin: 20px auto; 
    border: 2px solid #979500; 
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}
